:root {
    --hue: 240;
    --first-color: hsl(var(--hue), 16%, 18%);
    --first-color-alt: hsl(var(--hue), 16%, 12%);
    --title-color: hsl(var(--hue), 8%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #2E2E2E;
    --body-font: sans-serif;
    --big-font-size: 1.5rem;
    --normal-font-size: 62.5%;
    --z-modal: 1000;
}

body {
    background-color: #2C004F;
    color: #FFF;
    position: relative;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: var(--body-font);
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #8B00FA;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 150ms, box-shadow 150ms;
}

.choice-container:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #9c2ff5;
    transform: translate(-0.1rem);
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #8B00FA;
    color: #D3D3D3;
    border-radius: 2rem;
    border: none;
}

.choice-text {
    padding: 1.5rem;
    color: #333;
    width: 100%;
    background-color: #D3D3D3;
    border-radius: 3rem;
    border: none;
    font-size: 1.5rem;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

h2 {
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 700;
}

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

#progressBar {
    width: 60rem;
    height: 2rem;
    border: 0.3rem solid #8B00FA;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

#progressBarFull {
    height: 1.5rem;
    background-color: #8B00FA;
    width: 100%;
}

.modal__container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(var(--hue), 18%, 75%, 0.8);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all 0.3s;
    z-index: var(--z-modal);
    visibility: hidden;
    opacity: 0;
}

.modal__content {
    position: relative;
    background-color: var(--container-color);
    text-align: center;
    padding: 3rem 2rem 2rem;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.3s;
    transform: translateY(10%);
}

.modal__img {
    width: 150px;
    margin-bottom: 0.75rem;
}

.modal__close {
    display: inline-flex;
    background-color: var(--first-color);
    border-radius: 0.25rem;
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.modal__title {
    font-size: var(--big-font-size);
    color: #fff;
    font-weight: 500;
    margin-bottom: 1rem;
}

.modal__button {
    display: inline-block;
    color: #A9A9A9;
    font-size: 2rem;
    border: 0.1rem solid #150025;
    border-radius: 2rem;
    background-color: #8B00FA;
    transition: transform 150ms, box-shadow 150ms;
    padding: 1rem 1.25rem;
    margin-bottom: 2%;
}

.modal__button:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #9c2ff5;
    transform: translate(-0.1rem);
}

.modal__button-link {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    border: 0.1rem solid #150025;
    border-radius: 2rem;
    background-color: #8B00FA;
    transition: transform 150ms, box-shadow 150ms;
    padding: 1rem 1.25rem;
    width: 80%;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
}

.modal__button-link:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #9c2ff5;
    transform: translate(-0.1rem);
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.show-modal .modal__content {
    transform: translateY(0);
}

@media screen and (min-width: 576px) {
    .modal__content {
        margin: auto;
        width: 380px;
        border-radius: 1.25rem;
    }

    .modal__img {
        width: 170px;
    }
}
